<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

<aop:aspectj-autoproxy />

<bean name="customer" class="com.spring.sample.beans.Customer">
	<property name="custId" value="JohnDoe123"></property>
</bean>

<bean name="customerService" class="com.spring.sample.services.CustomerService">
	<property name="customer" ref="customer"></property>
</bean>

<bean name="customerBefore" class="com.spring.sample.aspects.CustomerBefore" />
<bean name="customerAfter" class="com.spring.sample.aspects.CustomerAfter" />
<bean name="customerPointcut" class="com.spring.sample.aspects.CustomerPointcut" />
<bean name="customerAround" class="com.spring.sample.aspects.CustomerAround" />

</beans>